<!DOCTYPE html>
<html lang="en">

<head>
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div id="main">
    <h1>Sticky Notes</h1>
    <textarea v-model="content"></textarea>
    <button @click="writeMemo">Write!</button>
    <div id="memo-container">
      <div class="memo" v-for="memo in memos">
        <div class="memo-delete-button"></div>
        {{ memo.content }}
      </div>
    </div>
  </div>
  <script>
    const app = new Vue({
      el: '#main',
      data: {
        url: 'https://insta-hzzle.c9users.io/api/v1/memos/',
        content: '',
        memos: [],
      },
      methods: {
        writeMemo: function () {
          axios.post(this.url,
            {
              content: this.content
            }
          ).then(response => {
            this.memos.push(response.data)
            this.content = ''
          })
        },
      },
      created: function () {
        axios.get(this.url)
          .then(response => {
            this.memos = response.data
          })
      }
    })
  </script>
</body>

</html>